 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Template for Bootstrap</title>

 <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  </head>
<body>

    <div class="container">
        {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

      <form method="post" action="{% url 'login' %}" class="form-signin">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="id_username" class="sr-only">Username</label>
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Email address" required autofocus>
        <label for="id_password" class="sr-only" >Password</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
        <input type="submit" value="Войти">
      </form>


  </body>